{% extends 'Main/base.html' %}
{% block title %}
    Perfil {{ user.username }}
{% endblock title %}
{% block content_title %}
    Mi perfil
{% endblock content_title %}
{% block content %}
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}https://via.placeholder.com/150{% endif %}" alt="Avatar" class="img-fluid" style="width: 300px; height: 300px; border-radius: 50%;">
        </div>
        
        
        <div class="col-md-8">
            <h3>Información del Usuario</h3>
            
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <th>Apellido</th>
                        <td>{{user.last_name}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <th>Biografía</th>
                        <td>{{user.descripcion}}</td>
                    </tr>
                    <tr>
                        <th>Enlace</th>
                        <td><a href="{{user.enlace}}">{{user.enlace}}</a></td>
                    </tr>
                    <tr>
                        <th>Fecha de Nacimiento</th>
                        <td>{{user.cumpleanos}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col text-center">
            <a href="{% url 'Login:edit_profile' %}" class="btn btn-primary">Editar Perfil</a>
        </div>
    </div>

    </div>
{% endblock content %}