{% extends 'Main/base.html' %}
{% block title %}
    Perfil {{ user.username }}
{% endblock title %}
{% block content_title %}
    Mi perfil
{% endblock content_title %}
{% block content %}
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="https://via.placeholder.com/150" alt="Avatar" class="img-fluid rounded-circle">
        </div>
        
        <div class="col-md-8">
            <h3>Información del Usuario</h3>
            
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <th>Apellido</th>
                        <td>{{user.last_name}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <th>Biografía</th>
                        <td>Desarrollador web y entusiasta de la tecnología.</td>
                    </tr>
                    <tr>
                        <th>Enlace</th>
                        <td><a href="https://www.linkedin.com/in/juanperez">https://www.linkedin.com/in/juanperez</a></td>
                    </tr>
                    <tr>
                        <th>Fecha de Nacimiento</th>
                        <td>15 de marzo de 1990</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col text-center">
            <a href="#" class="btn btn-primary">Editar Perfil</a>
        </div>
    </div>

    </div>
{% endblock content %}