{% extends 'Main/base.html' %}

{% block title %}
    Crear usuario
{% endblock title %}

{% block content_title %}
    Creación de nuevo usuario
{% endblock content_title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h4>Crear nuevo usuario</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="alert alert-danger" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                        
                        {{ form.as_p }}
                        
                        <button type="submit" class="btn btn-primary w-100">Crear nuevo usuario</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'Login:login' %}" class="text-decoration-none">¿Ya tienes una cuenta? Inicia sesión</a>
                    <br>
                    <a href="{{ request.META.HTTP_REFERER | default:'/' }}" class="text-decoration-none" style="color:rgb(6, 0, 87);">Volver</a><br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
