{% extends 'Main/base.html' %}   

{% block title %}
    Crear
{% endblock title %}

{% block title_content %}
    Crear nueva reseña
{% endblock title_content %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <div class="mb-4">
            <label for="id_titulo" class="form-label">Título</label>
            {{ form.titulo }}
        </div>
        
        <div class="mb-4">
            <label for="id_descripcion" class="form-label">Descripción</label>
            {{ form.descripcion }}  
        </div>

        <div class="mb-4">
            <label for="id_genero" class="form-label">Género</label>
            {{ form.genero }}
        </div>
        <div class="mb-4">
            <label for="id_temporada" class="form-label">Temporada</label>
            {{ form.temporada }}
        </div>
        <div class="mb-4">
            <label for="id_temporada" class="form-label">Reparto</label>
            {{ form.reparto }}
        </div>

        <div class="mb-3"></div>

        <button type="submit" class="btn btn-primary">Enviar</button>

        <a href="{% url 'Series:serie_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock content %}
