{% extends 'Main/base.html' %}   

{% block title %}
    Crear
{% endblock title %}

{% block title_content %}
    <h1 class="text-primary">Crear nueva reseña</h1>
{% endblock title_content %}

{% block content %}
    <div class="container mt-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="mb-4">
                        <label for="id_titulo" class="form-label">Título</label>
                        {{ form.titulo }}
                    </div>

                    <div class="mb-4">
                        <label for="id_descripcion" class="form-label">Descripción</label>
                        {{ form.descripcion }}
                    </div>

                    <div class="mb-4">
                        <label for="id_genero" class="form-label">Género</label>
                        {{ form.genero }}
                    </div>

                    <div class="mb-4">
                        <label for="id_temporada" class="form-label">Temporada</label>
                        {{ form.temporada }}
                    </div>

                    <div class="mb-4">
                        <label for="id_reparto" class="form-label">Reparto</label>
                        {{ form.reparto }}
                    </div>

                    <div class="mb-4">
                        <label for="id_imagen" class="form-label">Imagen</label>
                        {{ form.imagen }}
                    </div>
                    <div class="mb-4">
                        <label for="id_plataformas" class="form-label">Plataformas</label>
                        {{ form.plataformas }}
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary w-45">Enviar</button>
                        <a href="{% url 'Series:serie_list' %}" class="btn btn-secondary w-45 text-center">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
