{% extends 'Main/base.html' %}

{% block title_content %}
{% endblock title_content %}

{% block content %}

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.d-flex.overflow-auto {
    overflow: hidden; 
}
.d-flex.overflow-auto::-webkit-scrollbar {
    display: none; 
}
.genero_tittle{
        color: white;
        font-family: 'Poppins', sans-serif;
        margin-top: 35px;
        margin-bottom: 35px;
        font-size: 2em;
}
.serie_image {
    width: 350px;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
}
.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(87, 77, 77, 0.5);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
}
.serie_contenedor {
    flex: 0 0 auto; 
    width: 350px; 
    height: 200px; 
}
.recomendacion_contenedor{
    background-color: red;
    height: 70vh;
    width: 60dvw;
}
.recomendacion_image{
    object-fit: cover;
    width: 100%;
    height: 100%;

}
.contenedor_generos{
    margin-left: 50px;
    margin-right: 50px;
}
.generos_home {
    display: flex; 
    flex-wrap: nowrap; 
    overflow-x: auto; 
    gap: 15px; 
    padding-bottom: 15px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap; 
}
.generos_home::-webkit-scrollbar {
    display: none;
}
.col-md-4 {
    flex: 0 0 auto; 
    width: 300px; 
    margin-right: 10px; 
}
.scroll-button.left {
    left: 0;
}


.scroll-button.right {
    right: 0;
}

.scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.serie_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(158, 50, 50, 0.1);
    height: 370px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(44, 44, 44);
}
.position-relative:hover .scroll-button {
    opacity: 1;
    visibility: visible;
}
</style>
<script>
    function scrollContent(direction, button) {
        const container = button.parentElement.querySelector('.generos_home');
        const scrollAmount = 800;
        
        if (container) {
            if (direction === 'left') {
                container.scrollBy({ left: -scrollAmount, behavior: 'smooth' });
            } else {
                container.scrollBy({ left: scrollAmount, behavior: 'smooth' });
            }
        }
    }
</script>
        
<div class="recomendaciones">
    <div class="position-relative">
        {% if ultimas_5_series|length > 4 %}
            <button class="scroll-button left" onclick="scrollContent('left', this)">&lt;</button>
        {% endif %}
        <div class="generos_home">
            {% for serie in ultimas_5_series %}
                {% if "Comedia" in serie.genero|stringformat:"s" %}
                <a href="{% url 'Series:serie_details' id=serie.id %}">
                    <div class="recomendacion_contenedor">
                        {% if serie.imagen %}
                            <img src="{{ serie.imagen.url }}" alt="Imagen de {{ serie.titulo }}" class="recomendacion_image">
                        {% else %}
                            <p style="color: white;">No hay imagen disponible.</p>
                        {% endif %}
                    </div>
                </a>
                {% endif %}
            {% endfor %}
        </div>

        {% if ultimas_5_series|length > 4 %}
            <button class="scroll-button right" onclick="scrollContent('right', this)">&gt;</button>
        {% endif %}
    </div>
</div>



<div class="contenedor_generos">
    <h1 class="genero_tittle">Comedia</h1>
    <div class="position-relative">
            <button class="scroll-button left" onclick="scrollContent('left', this)">&lt;</button>

        <div class="generos_home">
            {% for serie in series %}
                {% if "Comedia" in serie.genero|stringformat:"s" %}
                <a href="{% url 'Series:serie_details' id=serie.id %}">
                    <div class="serie_contenedor">
                        
                        {% if serie.imagen %}
                            <img src="{{ serie.imagen.url }}" alt="Imagen de {{ serie.titulo }}" class="serie_image">
                        {% else %}
                            <p style="color: white;">No hay imagen disponible.</p>
                        {% endif %}
                    </div>
                </a>
                {% endif %}
            {% endfor %}
        </div>

        {% if series|length > 4 %}
            <button class="scroll-button right" onclick="scrollContent('right', this)">&gt;</button>
        {% endif %}
    </div>
</div>

        <div class="contenedor_generos">
            <h1 class="genero_tittle">Drama</h1>
            <div class="position-relative">
                {% if series|length > 4 %}
                    <button class="scroll-button left" onclick="scrollContent('left', this)">&lt;</button>
                {% endif %}

                <div class="generos_home">
                    {% for serie in series %}
                        {% if "Drama" in serie.genero|stringformat:"s" %}
                            <a href="{% url 'Series:serie_details' id=serie.id %}">
                                <div class="serie_contenedor">
                                    
                                    {% if serie.imagen %}
                                        <img src="{{ serie.imagen.url }}" alt="Imagen de {{ serie.titulo }}" class="serie_image">
                                    {% else %}
                                        <p style="color: white;">No hay imagen disponible.</p>
                                    {% endif %}
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                {% if series|length > 4 %}
                    <button class="scroll-button right" onclick="scrollContent('right', this)">&gt;</button>
                {% endif %}
            </div>
        </div>

        <div class="contenedor_generos">
            <h1 class="genero_tittle">Acción</h1>
            <div class="position-relative">
                {% if series|length > 4 %}
                    <button class="scroll-button left" onclick="scrollContent('left', this)">&lt;</button>
                {% endif %}

                <div class="generos_home">
                    {% for serie in series %}
                        {% if "Acción" in serie.genero|stringformat:"s" %}
                            <a href="{% url 'Series:serie_details' id=serie.id %}">
                                <div class="serie_contenedor">
                                    
                                    {% if serie.imagen %}
                                        <img src="{{ serie.imagen.url }}" alt="Imagen de {{ serie.titulo }}" class="serie_image">
                                    {% else %}
                                        <p style="color: white;">No hay imagen disponible.</p>
                                    {% endif %}
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                {% if series|length > 4 %}
                    <button class="scroll-button right" onclick="scrollContent('right', this)">&gt;</button>
                {% endif %}
            </div>
        </div>
        <div class="contenedor_generos">
            <h1 class="genero_tittle">Terror</h1>
            <div class="position-relative">
                {% if series|length > 4 %}
                    <button class="scroll-button left" onclick="scrollContent('left', this)">&lt;</button>
                {% endif %}

                <div class="generos_home">
                    {% for serie in series %}
                        {% if "Terror" in serie.genero|stringformat:"s" %}
                            <a href="{% url 'Series:serie_details' id=serie.id %}">
                                <div class="serie_contenedor">
                                    
                                    {% if serie.imagen %}
                                        <img src="{{ serie.imagen.url }}" alt="Imagen de {{ serie.titulo }}" class="serie_image">
                                    {% else %}
                                        <p style="color: white;">No hay imagen disponible.</p>
                                    {% endif %}
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                {% if series|length > 4 %}
                    <button class="scroll-button right" onclick="scrollContent('right', this)">&gt;</button>
                {% endif %}
            </div>
        </div>
        <div class="contenedor_generos">
            <h1 class="genero_tittle">Ciencia Ficción</h1>
            <div class="position-relative">
                {% if series|length > 4 %}
                    <button class="scroll-button left" onclick="scrollContent('left', this)">&lt;</button>
                {% endif %}

                <div class="generos_home">
                    {% for serie in series %}
                        {% if "Ciencia Ficción" in serie.genero|stringformat:"s" %}
                            <a href="{% url 'Series:serie_details' id=serie.id %}">
                                <div class="serie_contenedor">
                                    
                                    {% if serie.imagen %}
                                        <img src="{{ serie.imagen.url }}" alt="Imagen de {{ serie.titulo }}" class="serie_image">
                                    {% else %}
                                        <p style="color: white;">No hay imagen disponible.</p>
                                    {% endif %}
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                {% if series|length > 4 %}
                    <button class="scroll-button right" onclick="scrollContent('right', this)">&gt;</button>
                {% endif %}
            </div>
        </div>
        <div class="contenedor_generos">
            <h1 class="genero_tittle">Romance</h1>
            <div class="position-relative">
                {% if series|length > 4 %}
                    <button class="scroll-button left" onclick="scrollContent('left', this)">&lt;</button>
                {% endif %}

                <div class="generos_home">
                    {% for serie in series %}
                        {% if "Romance" in serie.genero|stringformat:"s" %}
                            <a href="{% url 'Series:serie_details' id=serie.id %}">
                                <div class="serie_contenedor">
                                    
                                    {% if serie.imagen %}
                                        <img src="{{ serie.imagen.url }}" alt="Imagen de {{ serie.titulo }}" class="serie_image">
                                    {% else %}
                                        <p style="color: white;">No hay imagen disponible.</p>
                                    {% endif %}
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                {% if series|length > 4 %}
                    <button class="scroll-button right" onclick="scrollContent('right', this)">&gt;</button>
                {% endif %}
            </div>
        </div>
    <div class="contenedor_generos">
        <h1 class="genero_tittle">Documental</h1>
        <div class="position-relative">
            {% if series|length > 4 %}
                <button class="scroll-button left" onclick="scrollContent('left', this)">&lt;</button>
            {% endif %}

            <div class="generos_home">
                {% for serie in series %}
                    {% if "Documental" in serie.genero|stringformat:"s" %}
                        <a href="{% url 'Series:serie_details' id=serie.id %}">
                            <div class="serie_contenedor">
                                
                                {% if serie.imagen %}
                                    <img src="{{ serie.imagen.url }}" alt="Imagen de {{ serie.titulo }}" class="serie_image">
                                {% else %}
                                    <p style="color: white;">No hay imagen disponible.</p>
                                {% endif %}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

            {% if series|length > 4 %}
                <button class="scroll-button right" onclick="scrollContent('right', this)">&gt;</button>
            {% endif %}
        </div>
    </div>
    <div class="contenedor_generos">
        <h1 class="genero_tittle">Fantasía</h1>
        <div class="position-relative">
            {% if series|length > 4 %}
                <button class="scroll-button left" onclick="scrollContent('left', this)">&lt;</button>
            {% endif %}

            <div class="generos_home">
                {% for serie in series %}
                    {% if "Fantasía" in serie.genero|stringformat:"s" %}
                        <a href="{% url 'Series:serie_details' id=serie.id %}">
                            <div class="serie_contenedor">
                                
                                {% if serie.imagen %}
                                    <img src="{{ serie.imagen.url }}" alt="Imagen de {{ serie.titulo }}" class="serie_image">
                                {% else %}
                                    <p style="color: white;">No hay imagen disponible.</p>
                                {% endif %}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

            {% if series|length > 4 %}
                <button class="scroll-button right" onclick="scrollContent('right', this)">&gt;</button>
            {% endif %}
        </div>
    </div>
    <div class="contenedor_generos">
        <h1 class="genero_tittle">Misterio</h1>
        <div class="position-relative">
            {% if series|length > 4 %}
                <button class="scroll-button left" onclick="scrollContent('left', this)">&lt;</button>
            {% endif %}

            <div class="generos_home">
                {% for serie in series %}
                    {% if "Misterio" in serie.genero|stringformat:"s" %}
                        <a href="{% url 'Series:serie_details' id=serie.id %}">
                            <div class="serie_contenedor">
                                
                                {% if serie.imagen %}
                                    <img src="{{ serie.imagen.url }}" alt="Imagen de {{ serie.titulo }}" class="serie_image">
                                {% else %}
                                    <p style="color: white;">No hay imagen disponible.</p>
                                {% endif %}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

            {% if series|length > 4 %}
                <button class="scroll-button right" onclick="scrollContent('right', this)">&gt;</button>
            {% endif %}
        </div>
    </div>
    <div class="contenedor_generos">
        <h1 class="genero_tittle">Aventura</h1>
        <div class="position-relative">
            {% if series|length > 4 %}
                <button class="scroll-button left" onclick="scrollContent('left', this)">&lt;</button>
            {% endif %}

            <div class="generos_home">
                {% for serie in series %}
                    {% if "Aventura" in serie.genero|stringformat:"s" %}
                        <a href="{% url 'Series:serie_details' id=serie.id %}">
                            <div class="serie_contenedor">
                                
                                {% if serie.imagen %}
                                    <img src="{{ serie.imagen.url }}" alt="Imagen de {{ serie.titulo }}" class="serie_image">
                                {% else %}
                                    <p style="color: white;">No hay imagen disponible.</p>
                                {% endif %}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

            {% if series|length > 4 %}
                <button class="scroll-button right" onclick="scrollContent('right', this)">&gt;</button>
            {% endif %}
        </div>
    </div>
    <div class="contenedor_generos">
        <h1 class="genero_tittle">Política</h1>
        <div class="position-relative">
            {% if series|length > 4 %}
                <button class="scroll-button left" onclick="scrollContent('left', this)">&lt;</button>
            {% endif %}

            <div class="generos_home">
                {% for serie in series %}
                    {% if "Política" in serie.genero|stringformat:"s" %}
                        <a href="{% url 'Series:serie_details' id=serie.id %}">
                            <div class="serie_contenedor">
                                
                                {% if serie.imagen %}
                                    <img src="{{ serie.imagen.url }}" alt="Imagen de {{ serie.titulo }}" class="serie_image">
                                {% else %}
                                    <p style="color: white;">No hay imagen disponible.</p>
                                {% endif %}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

            {% if series|length > 4 %}
                <button class="scroll-button right" onclick="scrollContent('right', this)">&gt;</button>
            {% endif %}
        </div>
    </div>


{% endblock content %}
